@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Quicksand:wght@300&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: red;
    font-family: 'Roboto';
    letter-spacing: 1.5px;
}